{% assign start_date = site.data.lecture_config.course_dates.start_date %}
{% assign end_date = site.data.lecture_config.course_dates.end_date %}
{% assign day = site.data.lecture_config.course_dates.day %}
{% assign curr_date = start_date %}

{% capture class_date_list_string %}
{% for i in (1..180) %}
  {% assign next_unix = curr_date | date: "%s" | plus: 86400 %}
  {% assign next_date = next_unix | date: "%-d" %}
  {% assign next_day = next_unix | date: "%a" %}
  {% assign end_unix = end_date | date: "%s" | plus: 0 %}
  {% if next_unix > end_unix %}
    {% break %}
  {% endif %}
  {% if next_day == day %}
    {{ next_unix | date: "%b %-d" }};
  {% endif %}
  {% assign curr_date = next_unix %}
{% endfor %}
{% endcapture %}
{% assign class_date_list = class_date_list_string | split:';' %}
{% assign num_classes = class_date_list.size | plus:0 %}
