You are expected to submit one written summary per assigned paper on Quercus. The summaries are due 24 hours before the corresponding lecture. Each paper summary should include the following five components:

<table style="border-collapse: collapse; width: 100%;" border="1">
    <thead>
      <tr>
        <td><strong>Component</strong></td>
        <td><strong>Required Length</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Notes</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Brief summary</td>
        <td>4–5 sentences</td>
        <td>A brief summary of the contribution.</td>
        <td>This should not be a regurgitation of the abstract, but rather your own interpretation of the work.</td>
      </tr>
      <tr>
        <td>Commendation</td>
        <td>4–5 sentences</td>
        <td>What did you find noteworthy or unique about the paper? Why do you think it was accepted?</td>
        <td>This should be a thoughtful reflection on what you believe is interesting about the work, not a restatement of the paper's contributions.</td>
      </tr>
      <tr>
        <td>Two critiques</td>
        <td>4–5 sentences per critique</td>
        <td>What flaws do you see in the work? Why are these flaws problematic? How would you go about addressing them?</td>
        <td>These should be two distinct and coherent points. If your critiques cover more than two topics, only the first two will be graded.</td>
      </tr>
      <tr>
        <td>Discussion point</td>
        <td>1 sentence</td>
        <td>A thought-provoking question and/or talking point that you would like to raise during the in-class discussion.</td>
        <td>Student presenters will refer to these talking points as they lead the in-class discussions.</td>
      </tr>
      <tr>
        <td>Enjoyment rating</td>
        <td>A number</td>
        <td>A score from 1 (boring) to 5 (very interesting) indicating how much you enjoyed reading the paper.</td>
        <td>The instructor uses these scores to decide whether papers need to be rotated out of the syllabus for future course iterations.</td>
      </tr>
    </tbody>
</table>
<br>

Your reading summary should uniquely apply to the corresponding paper. In other words, you will not be given marks for “cop-out” commendations and critiques that could apply to most papers. Some examples are provided below:

<table style="border-collapse: collapse; width: 100%;" border="1">
    <thead>
      <tr>
        <td><strong>Don't say...</strong></td>
        <td><strong>Instead...</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>"The paper was well written."</td>
        <td>Explain what made the paper readable with specific examples (e.g., informative figures highlighting clinical accuracy, explanations of domain-specific terminology).</td>
      </tr>
      <tr>
        <td>"The paper was well motivated because they are tackling an important health topic.”</td>
        <td>Explain how the proposed solution can make a difference in the target domain.</td>
      </tr>
      <tr>
        <td>“The authors had a small sample size. They should have recruited more participants.”</td>
        <td>Explain why the sample size isn't representative of the target population and why this shortcoming is important.</td>
      </tr>
    </tbody>
</table>