---
layout: page
title: 
redirect_from:
- /readings/
---
<div class="row">
	<div class="col-xs-12">
<h2>Schedule</h2>
<!-- Course timing -->
{% include course_dates.html %}

{% assign sorted_readings = site.readings | sort: 'due_class_index' %}

<table style="width: 100%;" border="0">
	<thead>
		<tr>
			<th><b>Date</b></th>
			<th><b>Discussion Topic, Readings, and/or Videos</b></th>
			<th><b>Assignments</b></th>
		</tr>
	</thead>
	<tbody>
		{% for i in (0..class_date_list.size) %}
			{% assign date = class_date_list[i] | strip %}
			{% if date.size > 0 %}
			<tr>
				<!-- Date -->
				<td>{{ date }}</td>
				
				<!-- Current readings -->
				<td>
				{% assign curr_readings = "" %}
				{% for readings in site.readings %}
					{% if readings.due_class_index == i %}
						{% assign curr_readings = readings %}
						{% break %}
					{% endif %}
				{% endfor %}
				{{ curr_readings.title }}
				<ul>
				{% for paper in curr_readings.papers %}
					<li>
						{% if paper.required != true and paper.video %}
							<i>Optional Video:
						{% elsif paper.required != true %}
							<i>Optional:
						{% elsif paper.video %}
							Video:
						{% endif %}
						{% include author_list.html authors=paper.authors %}.
						<u><a href="{{ paper.url }}" target="_blank">{{ paper.title }}</a></u>{% if paper.venue.size > 0 %}, {{ paper.venue }} {% endif %}
						{% if paper.required != true %}
						</i>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
				</td>
				
				<td>
				<!-- Due assignments -->
				{% for assignment in site.assignments %}
					{% if assignment.due_class_index == i %}
						<a href="{{ site.baseurl }}{{ assignment.url }}">{{ assignment.nickname }}</a> due <br />
					{% endif %}
				{% endfor %}
				<!-- New assignments -->
				{% for assignment in site.assignments %}
					{% if assignment.assigned_class_index == i %}
						<a href="{{ site.baseurl }}{{ assignment.url }}">{{ assignment.nickname }}</a> assigned <br />
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
	</div>
</div>