---
layout: page
title: 
redirect_from:
- /readings/
---
<div class="row">
	<div class="col-xs-12">
		<h2>Readings</h2>
		{% capture class_date %}0{% endcapture %}
		{% assign sorted_readings = site.readings | sort: 'number' %}

		<table style="width: 100%;" border="0">
			<thead>
				<tr>
					<th>Date</th>
					<th>Discussion Topic and Readings</th>
					<th>Assignments</th>
				</tr>
			</thead>
			<tbody>
				{% for readings in sorted_readings %}
					<tr>
						<td><b>{{ class_date }}</b></td>
						<td>
						{{ readings.title }}
						<ul>
						{% for paper in readings.papers %}
							{% if paper.required == true %}
							<li>
								{% include author_list.html authors=paper.authors %}.
								<u><a href="{{ paper.url }}">{{ paper.title }}</a></u>{% if paper.venue.size > 0 %}, {{ paper.venue }} {% endif %}
							</li>
							{% endif %}
						{% endfor %}
						{% for paper in readings.papers %}
							{% if paper.required == false %}
							<li>
								<i>Optional:
								{% include author_list.html authors=paper.authors %}.
								<u><a href="{{ paper.url }}">{{ paper.title }}</a></u>{% if paper.venue.size > 0 %}, {{ paper.venue }} {% endif %}
								</i>
							</li>
							{% endif %}
						{% endfor %}
						</ul>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>